I'm a technical professional specializing in cloud infrastructure deployment and operations on public cloud, private cloud, and using container orchestration environments. My expertise lies in technical training, consulting, community building, Linux-based operating systems, computing automation, and modern DevOps tools. I'm passionate about making Dev and Ops awesome by teaching others.
<br>
<br>
Currently, I'm working on <a href="https://kube.academy">KubeAcademy</a> at VMware.
<br>
<br>
<b>The three words that describe me best are: Tacos, Coffee, and Tech.</b>