I'm a technical professional specializing in cloud infrastructure deployment and operations on public cloud, private cloud, and using container orchestration environments. My expertise lies in technical training, consulting, community building, Linux-based operating systems, computing automation, and modern DevOps tools. I'm passionate about making Dev and Ops awesome by teaching others.
<br>
<br>
Currently, I'm working as a Sr. Field Engineer at <a href="https://konghq.com">Kong</a>.
<br>
<br>
<b>The three words that describe me best are: Tacos, Coffee, and Tech.</b>